In [52]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import sklearn.metrics as metrics
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer

In [53]:
df = pd.read_csv('insurance_data.csv')
df = df.iloc[:,2:]
df.sample(10)

,age,gender,bmi,bloodpressure,diabetic,children,smoker,region,claim
480,48.0,male,21.1,82,No,3,No,southeast,6652.53
1169,27.0,male,36.7,130,No,1,No,northwest,28468.92
868,44.0,male,27.5,104,Yes,1,No,southwest,12333.83
554,34.0,female,33.2,83,No,1,No,southeast,7639.42
237,48.0,female,25.2,82,No,0,No,southeast,3558.62
441,39.0,female,31.0,97,No,0,No,southeast,6185.32
163,28.0,male,38.1,81,Yes,0,No,southeast,2689.50
1137,58.0,female,38.1,94,No,2,No,northeast,24915.05
628,56.0,female,36.6,100,No,0,No,northwest,8671.19
263,46.0,female,31.2,88,Yes,0,No,northeast,3943.60

In [54]:
df.isnull().sum()

age              5
gender           0
bmi              0
bloodpressure    0
diabetic         0
children         0
smoker           0
region           3
claim            0
dtype: int64

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            1335 non-null   float64
 1   gender         1340 non-null   object
 2   bmi            1340 non-null   float64
 3   bloodpressure  1340 non-null   int64
 4   diabetic       1340 non-null   object
 5   children       1340 non-null   int64
 6   smoker         1340 non-null   object
 7   region         1337 non-null   object
 8   claim          1340 non-null   float64
dtypes: float64(3), int64(2), object(4)
memory usage: 94.3+ KB

# UniVariant EDA

# Column Types

- **Numerical** - age,bmi,bloodpressure,claim
- **Categorical** -gender, diabetic,children,smoker, region

In [62]:
df['age'].plot(kind='hist')

In [61]:
df['age'].value_counts().plot(kind='pie')

In [57]:
sns.histplot()

In [58]:
df['age'].fillna(df['age'].mean(),inplace=True)

In [59]:
df['age']

0       39.000000
1       24.000000
2       38.078652
3       38.078652
4       38.078652
          ...
1335    44.000000
1336    59.000000
1337    30.000000
1338    37.000000
1339    30.000000
Name: age, Length: 1340, dtype: float64